
red      #B35050 
green    #50B350
blue     #5050B3
yellow   #B3B350
cyan     #50B3B3
magenta  #B350B3
orange   #DC7F32 
green2   #32DC7F
violet   #7F32DC
magenta2 #DC327F
blue2    #327FDC
green3   #7FDC32
dark gray   #505050
light gray   #B3B3B3
tan     #FDF6E3
tan2	 #FFEDBF
black	#000000

pre {
display:inline-block;
font-family:sans-serif;
font-size: 12px;
background-color: #fff;	
color: #000;
}

.assignment {
  background-color: #fff;
		border-style: solid;
		border-color: #8eb1e1 #0ff;
		border-width: 5px;
		padding: 1px;
  }

.english{
		background-color: #fff;
		border-style: solid;
		border-color: #8eb1e1 #f00;
		border-width: 5px;
		padding: 1px;
}

.cs{
		background-color: #fff;
		border-style: solid;
		border-color: #8eb1e1 #000;
		border-width: 5px;
		padding: 1px;
}

.employability{
	background-color: #fff;
		border-style: solid;
		border-color: #8eb1e1 #00f;
		border-width: 5px;
		padding: 1px;
	
}

.math{
	background-color: #fff;
		border-style: solid;
		border-color: #8eb1e1 #0f0;
		border-width: 5px;
		padding: 1px;
	
}

.html{
background-color: #fff;
		border-style: solid;
		border-color: #8eb1e1 #FF1493;
		border-width: 5px;
		padding: 1px;
}
